<!doctype html>
<html lang="en">

<head>
    <title>Crear Juego</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../Styles.css">
</head>

<body>

   
    <!-- Barra superior -->
    <nav class="navbar navbar-expand-sm navbar-light bg-dark">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId" style="padding-left: 305px;">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="padding-top: 20px; padding-bottom: 20px;">
                <li class="nav-item active">
                    <a style="padding-left: 35px;" href="Home.html"><i class="fa fa-home" aria-hidden="true"
                            icon="top"></i><span class="textoTop"> Inicio</span></a>
                </li>
                <li class="nav-item active">
                    <a style="padding-left: 35px;" href = "CreateGame.html"><i class="fa fa-gamepad" aria-hidden="true" icon="top"></i><span
                            class="textoTop"> Jugar</span></a>
                </li>
                <li class="nav-item active">
                    <a style="padding-left: 35px;" href="MiPerfil.html"><i class="fa fa-user" aria-hidden="true"
                            icon="top"></i><span class="textoTop"> Mi perfil</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="Big-Container">
        <div class="rectangle-profile">
            <div class = "profile-image">
                <a href = "../Multimedia/MiniDiego.jpg"><img src="../Multimedia/MiniDiego.jpg" alt="" class = "imagen"></a>
                <a><i class="fa fa-pencil" aria-hidden="true" icon = "top" id = "lapiz" style = "margin-top: 225px;"></i></a>
            </div>
            <div class = "textoBotones" id = "UserName">Diegordo17<a><i class="fa fa-pencil" aria-hidden="true" icon = "top" id = "lapiz"></i></a></div>
        </div>
    </div>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</body>

</html>